<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>Title of the document</title>
    <style>
    td {
        font-weight: bold;
        border-collapse: collapse;
    }
</style>
    <link rel="stylesheet" href ="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.3.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.3.0/main.min.js"></script>



<!--    <script th:inline="javascript">-->
<!--function myFunction() {-->
<!--  alert("test");-->
<!--var err= /*[[${errMsg}]]*/ "xyz";-->
<!-- alert("err" + err);-->
<!--  console.log("err", err);-->
<!--}-->
<!--</script>-->

</head>

<body>
<div id='calendar'></div>


<h1> Create an Event </h1>

<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">


            <form action="#" th:action="@{/calendar/test}"
                  method="post">
                Enter Start Date and Time :
                <input name="dateEvent" id="dateEvent" type="datetime-local">
                <br>
 				
 				Enter End Date and Time :
                <input name="endDateEvent" id="endDateEvent" type="datetime-local">
                <br>
                
                Enter Event Details :
                <input name="nameEvent" type="text" id="nameEvent">
                <br>
                Do you want a conflict? :
                <input type="radio" id="yes" name="yes" value="yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="yes" value="no">
                <label for="no">No</label><br>
                <br>
                <button type="submit"  onclick="myFunction()">Submit </button>

            </form>

        </div>
    </div>
</div>

</body>

</html>
